<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingan.fi.database.dao.FiImageFeatureDao">

    <sql id="allResult">
            `image_id`,
            `feature`,
            `charact`,
            `pic_path`,
            `lib_id`,
            `top_left_x`,
            `top_left_y`,
            `bottom_right_x`,
            `bottom_right_y`,
            `creator`,
            `create_time`,
            `updator`,
            `update_time`
    </sql>

    <resultMap type="com.pingan.fi.database.model.FiImageFeature" id="FiImageFeatureMap">
        <result property="imageId" column="image_id"/>
        <result property="feature" column="feature"/>
        <result property="charact" column="charact"/>
        <result property="picPath" column="pic_path"/>
        <result property="libId" column="lib_id"/>
        <result property="topLeftX" column="top_left_x"/>
        <result property="topLeftY" column="top_left_y"/>
        <result property="bottomRightX" column="bottom_right_x"/>
        <result property="bottomRightY" column="bottom_right_y"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updator" column="updator"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="queryAllFeature" resultType="java.util.HashMap" databaseId="mysql">
        select `lib_id` as libid,`image_id` as guid,`feature` from `fi_image_feature`
        <if test="_parameter!=null">where `lib_id` = #{_parameter}</if>
    </select>

    <select id="queryFeatureByImageId" parameterType="String" resultMap="FiImageFeatureMap" databaseId="mysql">
        select
        <include refid="allResult"></include>
        from  `fi_image_feature`
        where `image_id`=#{_parameter}
    </select>

    <insert id="insertFeatureListBatch" parameterType="java.util.List" databaseId="mysql">
        INSERT  INTO `fi_image_feature` ( `image_id`,
        `feature`,
        `charact`,
        `pic_path`,
        `lib_id`,
        `top_left_x`,
        `top_left_y`,
        `bottom_right_x`,
        `bottom_right_y`,
        `creator`,
        `updator`
      )
        values
        <foreach collection="list" separator="," item="item">
            ( #{item.imageId},#{item.feature},#{item.charact},
            <choose>
                <when test="item.picPath != null">  #{item.picPath}</when>
                <otherwise>""</otherwise>
            </choose>,
            #{item.libId},#{item.topLeftX}, #{item.topLeftY},#{item.bottomRightX},#{item.bottomRightY},#{item.creator},#{item.updator}  )
        </foreach>
    </insert>

    <insert id="insertFiImageFeature"  keyProperty="imageId" databaseId="mysql">
        INSERT INTO `fi_image_feature`
        (
        <trim suffixOverrides=",">
            <if test="imageId!=null">
                `image_id`,
            </if>
            <if test="feature!=null">
                `feature`,
            </if>
            <if test="charact!=null">
                `charact`,
            </if>
            <if test="picPath!=null">
                `pic_path`,
            </if>
            <if test="libId!=null">
                `lib_id`,
            </if>
            <if test="topLeftX!=null">
                `top_left_x`,
            </if>
            <if test="topLeftY!=null">
                `top_left_y`,
            </if>
            <if test="bottomRightX!=null">
                `bottom_right_x`,
            </if>
            <if test="bottomRightY!=null">
                `bottom_right_y`,
            </if>
            <if test="creator!=null">
                `creator`,
            </if>
            <if test="createTime!=null">
                `create_time`,
            </if>
            <if test="updator!=null">
                `updator`,
            </if>
            <if test="updateTime!=null">
                `update_time`,
            </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="imageId!=null">
                #{imageId},
            </if>
            <if test="feature!=null">
                #{feature},
            </if>
            <if test="charact!=null">
                #{charact},
            </if>
            <if test="picPath!=null">
                #{picPath},
            </if>
            <if test="libId!=null">
                #{libId},
            </if>
            <if test="topLeftX!=null">
                #{topLeftX},
            </if>
            <if test="topLeftY!=null">
                #{topLeftY},
            </if>
            <if test="bottomRightX!=null">
                #{bottomRightX},
            </if>
            <if test="bottomRightY!=null">
                #{bottomRightY},
            </if>
            <if test="creator!=null">
                #{creator},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="updator!=null">
                #{updator},
            </if>
            <if test="updateTime!=null">
                #{updateTime},
            </if>
        </trim>
        )
    </insert>

    <update id="updateFiImageFeature" databaseId="mysql">
        UPDATE `fi_image_feature`
        SET
        <trim suffixOverrides=",">
            <if test="imageId != null and imageId!=''">
                `image_id` = #{imageId},
            </if>
            <if test="feature != null and feature!=''">
                `feature` = #{feature},
            </if>
            <if test="charact != null and charact!=''">
                `charact` = #{charact},
            </if>
            <if test="picPath != null and picPath!=''">
                `pic_path` = #{picPath},
            </if>
            <if test="libId != null and libId!=''">
                `lib_id` = #{libId},
            </if>
            <if test="topLeftX != null">
                `top_left_x` = #{topLeftX},
            </if>
            <if test="topLeftY != null">
                `top_left_y` = #{topLeftY},
            </if>
            <if test="bottomRightX != null">
                `bottom_right_x` = #{bottomRightX},
            </if>
            <if test="bottomRightY != null">
                `bottom_right_y` = #{bottomRightY},
            </if>
            <if test="creator != null and creator!=''">
                `creator` = #{creator},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="updator != null and updator!=''">
                `updator` = #{updator},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </trim>
        <choose>
            <when test="imageId!=null">#{id}</when>
            <otherwise>'-1'</otherwise>
        </choose>
    </update>

</mapper>