<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingan.fi.database.dao.FiImageFeatureDao">

    <sql id="allResult">
        <trim suffixOverrides=",">
            `id`,
            `image_id`,
            `feature`,
            `charact`,
            `pic_path`,
            `lib_id`,
            `top_left_x`,
            `top_left_y`,
            `bottom_right_x`,
            `bottom_right_y`,
            `creator`,
            `create_time`,
            `updator`,
            `update_time`,
        </trim>
    </sql>

    <resultMap type="com.pingan.fi.database.model.FiImageFeature" id="FiImageFeatureMap">
        <result property="id" column="id"/>
        <result property="imageId" column="image_id"/>
        <result property="feature" column="feature"/>
        <result property="charact" column="charact"/>
        <result property="picPath" column="pic_path"/>
        <result property="libId" column="lib_id"/>
        <result property="topLeftX" column="top_left_x"/>
        <result property="topLeftY" column="top_left_y"/>
        <result property="bottomRightX" column="bottom_right_x"/>
        <result property="bottomRightY" column="bottom_right_y"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updator" column="updator"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <select id="queryAllFeature" resultType="java.util.HashMap" >
        select `lib_id` as libid,`image_id` as guid,`feature` from `fi_image_feature`
        <if test="_parameter!=null">where `lib_id` = #{_parameter}</if>
    </select>

    <select id="queryFeatureByImageId" parameterType="String" resultMap="FiImageFeatureMap">
        select
        <include refid="allResult"></include>
        from  `fi_image_feature`
        where `image_id`=#{_parameter}
    </select>


    <insert id="insertFeatureListBatch" parameterType="java.util.List">
        INSERT  INTO `fi_image_feature` ( `image_id`,
        `feature`,
        `charact`,
        `pic_path`,
        `lib_id`,
        `top_left_x`,
        `top_left_y`,
        `bottom_right_x`,
        `bottom_right_y`,
        `creator`,
        `updator`
      )
        values
        <foreach collection="list" separator="," item="item">
            ( #{item.imageId},#{item.feature},#{item.charact},
            <choose>
                <when test="item.picPath != null">  #{item.picPath}</when>
                <otherwise>""</otherwise>
            </choose>,
            #{item.libId},#{item.topLeftX}, #{item.topLeftY},#{item.bottomRightX},#{item.bottomRightY},#{item.creator},#{item.updator}  )
        </foreach>


    </insert>
</mapper>